#Heading {
  margin-top: 80px;
}

#Heading_headline {
  max-width: 80%;
  margin: auto;
  font-size: 42px;
  font-weight: 500;
}

#Heding_para {
  max-width: 60%;
  margin: auto;
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 40px;
}

@media all and (min-width: 481px) and (max-width: 768px) {
  #Heding_para {
    max-width: 80%;
  }
}

@media all and (min-width: 320px) and (max-width: 480px) {
  #Heading_headline {
    font-size: 36px;
    line-height: 1;
  }

  #Heding_para {
    max-width: 85%;
    margin: 15px auto;
    font-size: 20px;
  }
}
